.caracters__block {
  margin-bottom: 30px;
}

.caracters__heading {
  padding: 0.5rem 0.75rem 0 !important;
  color: #fff;
  background-color: #001f3e;
}

.caracters__table {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.caracters__table tr td {
  text-align: left;
  padding: 0.1rem;
}
