.slider__block {
  width: 48%;
  display: inline-block;
}

.caracters__block {
  width: 48%;
  display: inline-block;
  float: right;
}
.button__order {
  margin-top: 10px;
  min-width: 100%;
}
