.form {
    margin-bottom: 30px;
}
.button {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #3A9E8A 0%, #27423D 51%, #3A9E8A 100%);
    border: none;
}
.button:hover {
    background-position: right center;
}
.text {
    color: #3A9E8A;
    font-weight: bold;
    text-align: center;
}